######################################################
## Nginx #############################################
######################################################
NGINX_IMAGE=jc21/nginx-proxy-manager:2.14.0 # Docker image used for Nginx Proxy Manager service
NGINX_HTTP_PORT=80 # HTTP port exposed by the Nginx container
NGINX_HTTPS_PORT=443 # HTTPS port exposed by the Nginx container
NGINX_MANAGER_PORT=81 # Admin UI port exposed by Nginx Proxy Manager
NGINX_VOLUME=${PROJECT_NAME}-nginx # Named volume used to persist Nginx Proxy Manager data
# ----- container
NGINX_EMAIL=<admin@your_project.com> # Default email used for Nginx Proxy Manager admin login
NGINX_PASSWORD=<change_me_with_a_strong_password> # Default password used for Nginx Proxy Manager admin login
# ----- nginx.conf.template
NGINX_CONF_CONTAINER_SERVICE_NAME=nginx # Upstream service name used in nginx templates
NGINX_CONF_LISTEN=80 # Listen port configured in nginx templates
NGINX_CONF_SERVER_NAME=$NETWORK_DOMAIN # Server name configured in nginx templates
NGINX_CONF_ROOT_PATH=/custom # Root path used by custom static assets in nginx templates
NGINX_CONF_SUBPATH=nginx # URL subpath exposed by nginx for Nginx Proxy Manager
# ----- index.html.template
NGINX_INDEX_TITLE=$PROJECT_FORMATTED_NAME # Title displayed in the proxy portal page
NGINX_INDEX_TAB_ICON=/images/logo.png # Browser tab icon path used by the proxy portal page
NGINX_INDEX_HEADER_TITLE=$PROJECT_FORMATTED_NAME # Header title displayed in the proxy portal page
NGINX_INDEX_HEADER_DESC=Infrastructure Management Portal # Header description displayed in the proxy portal page
NGINX_INDEX_HEADER_ICON=/images/logo.png # Header icon path used by the proxy portal page

######################################################
## Portainer #########################################
######################################################
PORTAINER_IMAGE=portainer/portainer-ce:2.39.1-alpine # Docker image used for Portainer service
PORTAINER_PORT=9443 # Port exposed by the Portainer container
PORTAINER_VOLUME=${PROJECT_NAME}-portainer # Named volume used to persist Portainer data
# ----- container
PORTAINER_PASSWORD=<change_me_with_a_strong_password> # Default Portainer admin password
PORTAINER_HASHED_PASSWORD=<your_bcrypt_password_hash> # BCrypt hash of the Portainer admin password
# ----- nginx.conf.template
PORTAINER_CONF_CONTAINER_SERVICE_NAME=portainer # Upstream service name used in nginx templates
PORTAINER_CONF_SUBPATH=portainer # URL subpath exposed by nginx for Portainer
# ----- index.html.template
PORTAINER_INDEX_USER=<admin> # Username displayed for Portainer login hints in the portal page
PORTAINER_INDEX_PASS=$PORTAINER_PASSWORD # Password displayed for Portainer login hints in the portal page
